body {
  margin:0px;
  font-family:arial;
  background-color:#4C88A1;
}

.page {
  background-color:white;
  height:auto;
  margin-left:10%;
  width:1060px;
  padding-top:30px;
  color:#4C88A1;
  padding-bottom:20px;
}

h1 {
  font-size:25px;
  text-align:center;
  margin-top:0px;
}

p {
  margin:100px 0px 5px 80px ;
}


img {
  border:2px solid black;
  margin-left:80px;
}

.finpage {
  margin-bottom:20px;
}

.middle {
  margin:0px 0px 0px 470px;
}

.prec {
  margin-top:50px;
  float:left;
  margin-bottom:20px;
  margin-left:100px;
  color:white;
  text-decoration:none;
}

.suiv {
  margin-top:50px;
  margin-right:100px;
  float:right;
  color:white;
  text-decoration:none;
}

h3 {
  margin-left:80px;
}

.end {
  margin-top:0px;
}

span {
  font-size:20px;
  font-weight:bold;
}

.corgi {
  margin-left:300px;
}

.pige {
  margin-left:300px;
}
